 		
body{
	color:#00AEEF;
	background-color:#ffffff;
	 border: 1px solid #00AEEF;
}

.full-site{
	width:100%;
}
.navigation-container {
 display: grid;
 grid-template-columns: 20% 20% 20% 20% 20%;
 grid-template-rows: 20% 20% 20% 20% 20%;
 background-color: #FFFFFF;
 padding:0px;
 margin:0px;
 color: #00AEEF;
             
}
.navigation-item {
 background-color: rgba(255, 255, 255, 0.8);
 border: 1px solid #00AEEF;
 padding: 30px;
 font-size: 20px;
 text-align: center;
 height: 100%;
}

.navigation-item img{
 width:50px;
 height: auto;
}

.navigation-item a{
	text-decoration: none;
	color: #00AEEF;
}
            
.home-container{
 padding: 0px;
 margin-top:-16px;
 display: grid;
 grid-template-columns: 50% 50%;
 grid-template-rows: auto auto;
 background-color: #FFFFFF;
 color: rgb(0, 187, 203);
}
.home-item {
 background-color: rgba(255, 255, 255, 0.8);
 border: 1px solid #00AEEF;
 padding: 2px;
 font-size: 20px;
 height: 100%;
 text-align: center;
}
.home-item img{
 width:100%;
 height: auto;
}

 .buton{
 	margin:0 auto;
 	padding:5px;
 	color:#00AEEF;
 	width:50%;
 	border:1px solid #00AEEF;
 	border-radius: 10px;
 }
.home-container a{
	text-decoration: none;
	color: #00AEEF;
}
 .buton:hover{
 	background-color: #00AEEF;
 	color:#ffffff;
 	border:1px solid #00AEEF;
 	border-radius: 10px;
 }

 .continut{
 	width: 90%;
 	height: auto;
 	margin:0 auto;	
 }

 .team-container {
 display: grid;
 grid-template-columns: 30% 30% 30%;
 grid-template-rows: auto auto auto;
 background-color: #FFFFFF;
 padding-top:5%;
 height: 40%;
 margin-left:100px;
 color: rgb(0, 187, 203);
             
}
.team-item {
 background-color: rgba(255, 255, 255, 0.8);
 border: 1px solid #00AEEF;
 border-radius: 50%;
 padding:5%;
 margin:20px;
 font-size: 20px;
 text-align: center;
 height: 100%;
}

.team-item:hover {
   background-color:#00AEEF;
   color:#ffffff;
}

.about-container{
 padding: 0px;
 margin:5% 0 25% 100px;
 display: grid;
 grid-template-columns: 22% 22% 22% 22%;
 grid-template-rows: auto auto auto auto;
 background-color: #FFFFFF;
 color: rgb(0, 187, 203);
}
.about-item {
 background-color: rgba(255, 255, 255, 0.8);
 border: 1px solid #00AEEF;
 border-radius:20%;
 padding: 10%;
 margin:15px;
 font-size: 20px;
 height: 100%;
 text-align: center;
}

.contact-container{
	width:100%;
	border-top:1px solid #00AEEF;
	height: 8%;
	text-align: center;
	font-size: 25px;

	text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
}